<% content_for :title, "New task" %>

<h1>New task</h1>
<%= turbo_frame_tag @task do%>
<%= render "form", task: @task %>
<%= link_to "Cancel", root_path, class:"btn btn-secondary m-1" %>
<% end %>
<br>

<div>
  <%= link_to "Back to tasks", tasks_path, class:"btn btn-secondary m-1" %>
</div>
